<mat-nav-list>
  <a *ngIf="!(isAuth$ |async)"
     mat-list-item
     routerLink="signup"
     routerLinkActive="active"
     (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Sign up</span>
  </a>
  <a *ngIf="!(isAuth$ |async)"
     mat-list-item
     routerLink="login"
     routerLinkActive="active"
     (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a *ngIf="isAuth$ |async"
     mat-list-item
     routerLink="training"
     routerLinkActive="active"
     (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <mat-list-item *ngIf="isAuth$ |async"
                 (click)="onLogout()">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>